.main-header {
    background-color: #F8F9FA; /* 배경색 변경 */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.home-link {
    background-color: #C8A2C8; /* 연한 라벤더 색상 */
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px; /* 둥근 모서리 */
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 살짝 그림자 */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 부드러운 전환 효과 */
}

.home-link:hover {
    background-color: #B57EDC; /* 마우스 오버 시 색상 변화 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 마우스 오버 시 그림자 변화 */
}

body {
    background-color: #f8f9fa;
    color: #343a40;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alert {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f3e5f5;
    border-color: #d1c4e9;
    color: #6a1b9a;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #6a1b9a;
}

pre {
    background-color: #f3e5f5;
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto;
}

.btn {
    display: block;
    width: 100%;
    margin-top: 1rem;
    font-size: 1.2rem;
    background-color: #6a1b9a;
    border-color: #6a1b9a;
    color: #fff;
}

.btn:hover {
    background-color: #4a148c;
    border-color: #4a148c;
}

.chart-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 2rem auto;
}

.chart {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(#ff0000 0, #ff0000 var(--percentage), #ccc var(--percentage), #ccc 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s linear;
}

.chart::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 70%;
    background: white;
    border-radius: 50%;
}

.percentage {
    position: absolute;
    font-size: 2em;
    color: #4caf50;
}

.graph-container {
    width: 80%;
    margin: auto;
}

#myLineChart {
    margin-top: 50px;
}

#gif-container img {
    max-width: 100%;
    height: auto;
}
